- @title = "Middleman Bootstrap Success"
- @bodyclass = "newproject"

:markdown
  ## Yo dawg, this project is bootstrapped!

  ### Views & Layouts
  
  Your source files are stored in the <kbd>source</kbd> folder. The main layout
  file for this project is <kbd>source/layout.haml</kbd>.
  
  ### Stylesheets, Sass &amp; Compass
  
  This project is pre-configured for [Sass](http://sass-lang.com) and
  [Compass](http://compass-style.org). Store your <kbd>sass</kbd> and
  <kbd>scss</kbd> files in the <kbd>source/stylesheets</kbd> directory.
  
  ### Compass Plugins
  
  Middleman Bootstrap includes support for [960.gs](http://960.gs/) & 
  [Susy](http://susy.oddbird.net/). To use them, you'll need to edit 
  <kbd>config.rb</kbd> to require the appropriate gem. 
  
  Uncomment the appropriate lines in the <kbd>screen.sass</kbd> 
  stylesheet to import.